:root{
 --fondo: #ffff;   /* blanco */
 --nav: #05b4ae;       /* celeste */
    --color-texto: #1f2937;       /* gris oscuro */
}

.form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.form{
margin: 10px 0;
text-align: center;
}

